#main-app-bar{
    min-height:67px;
    background-color: var(--bg3);
    box-shadow: 0 0 5px 1px var(--border1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.icon{
    position:absolute;
    top:50%;
    left:16px;
    transform: translateY(-50%);
}

.iconHover{
    cursor: pointer;
}