.friend-list-container{
    height:100%;
    width:300px;
    position:fixed;
    right:0;
    top:67px;
    padding:16px;
    height: calc(100% - 67px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.friend-list-item{
    display: flex;
    align-items: center;
    gap:8px;
    color:var(--text1);
    margin:16px 0;

    >img{
        height:30px;
        width:30px;
        border-radius: 50%;
    }

    >div{
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
    }
}


.friend-list-title{
    color:var(--text2);
    position: sticky;
    top:0;
}

.hamburger{
    display: none;
}


@media only screen and (max-width:1100px){
    .friend-list-container{
       position:absolute;
       top:0;
       height:100%;
       background-color: var(--bg2);
       border-left:1px solid var(--border1);
       box-shadow: -1px 0 3px var(--border3);
    }

    .hamburger{
        display: block;
        position: fixed;
        top:calc(76px / 2);
        right:16px;
        transform:translate(-50%, -66%);
        z-index: 10;
    }
}